.not-found-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.not-found-container {
  padding: 20px;
  background-color: #ea4625;
  border-radius: 8px;
}

.not-found,
.not-found-text {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: white;
}

.not-found-text:hover {
  background-color: #0c346d;
}
