.meal-title {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.meal-description {
  margin: 30px;
  font-size: 18px;
  text-align: center;
}

.reservation-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: 50px auto 30px;
  background-color: #0c346d;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  font-size: 18px;
  background-color: #114d4dba;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-container {
  margin: 50px auto 30px;
  width: 100%;
  height: auto;
  padding: 20px auto 30px;
  border-radius: 5px;
}

.review-text {
  margin: 15px 0;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.review-name {
  background-color: #f8f8f8;
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.name-label {
  font-size: 16px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
}

.select-container {
  display: flex;
  font-size: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  flex-direction: column;
  margin: 40px auto 30px;
}

.save-review-button {
  width: 100%;
  font-size: 18px;
  background-color: #0c346d;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-title {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.id-meal-container {
  flex: 1;
  width: 100%;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.no-meals-left {
  margin-top: 35px;
  text-align: center;
  color: crimson;
  font-size: 20px;
  font-weight: 900;
}

.reviews-title {
  margin-top: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.reviews-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 30px;
}

.review-card {
  font-size: 15px;
  color: white;
  font-weight: 600;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ea4625;
}

.save-review-button:hover {
  background-color: #f9a509;
}

@media screen and (max-width: 900px) {
  .reservation-form {
    padding: 10px;
    width: 70%;
  }
  .review-title {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #f9a509;
  }
  .reviews-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    margin: 30px;
  }
}

@media screen and (max-width: 600px) {
  .meal-description {
    margin: 15px;
    font-size: 16px;
    text-align: center;
    justify-items: center;
  }
  .reservation-form {
    width: 90%;
    margin: 30px auto 10px;
  }
  .id-meal-container {
    padding: 10px;
  }
  .review-title {
    text-align: left;
    font-size: 16px;
  }
  textarea {
    width: 100%;
  }
  .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 90%;
  }
  .save-review-button {
    width: 60%;
  }
  .no-meals-left {
    margin-top: 25px;
    text-align: center;
    color: crimson;
    font-size: 17px;
    font-weight: 600;
  }
  .reviews-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.meal-card {
  border-radius: 7px;
  padding: 15px;
  margin: auto;
  background-color: #0c346d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 100%;
}

.review-data {
  font-size: 16px;
}

.review-data .filled {
  color: yellow;
}

@media screen and (max-width: 600px) {
  .meal-card {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
  }
}
