.menupage-container {
  width: 50%;
  background-color: #fff;
  border-radius: 4rem;
  padding: 20px;
  color: rgb(18, 18, 18);
  background-color: #0c346d;
  margin: -19rem auto 60px;
  padding: 70px;
  align-items: center;
}

.h-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./myimage3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%; /* Set the width to fill the entire viewport */
  max-height: 400px; /* Set a maximum height for the banner image */
  padding: 40px 0;
}

.menupage-container h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

.menupage-container p {
  display: flex;
  justify-content: center;
  color: #fff;
}

.menupage-container div {
  margin: 1rem;
}
.menupage-container h3 {
  display: flex;
  justify-content: center;
  color: #ea4625;
}
