header {
  background-color: #ea4625;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.description-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-link {
  padding: 20px 25px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.nav-link:hover {
  color: #ffd700;
}

.logo-header {
  width: 150px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: row;
  }
  .nav-link {
    padding: 10px 5px;
    font-size: 13px;
  }
  .logo-header {
    width: 85px;
  }
  .description-header {
    font-size: 12px;
  }
}
