.blog-container {
  width: 100vw;
  height: 100vh;
  flex: 1;
  background-color: #0c346d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.blog-text {
  margin: 50px 50px;
  padding: 0 40px;
  color: white;
  max-height: calc(50vh - 50px);
  overflow-y: auto;
}

.blog-title {
  margin-bottom: 7px;
  text-align: center;
  color: #ea4625;
}

.description-header {
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  .blog-container {
    display: block;
  }

  .blog-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  .blog-text {
    margin: 50px 50px;
    padding: 0 40px;
    color: white;
    max-height: calc(50vh - 50px);
    overflow-y: auto;
  }
  .text-food {
    font-size: 15px;
  }
}
